$font: 'Noto Sans JP', sans-serif;
$fontSize: 20px;
$navColor: #f8d2af;
$primaryColor: #ffe7d0;
$secondaryColor: #d2b8a2;
$primaryTransparent: rgba(253,182,30,0.3);
$secondaryTransparent: rgba(177,130,74,0.8);
$white: #fff;
$gold: #fdb61e;
$textColor: #b1824a;
$textDark: darken($textColor, 10);
$transition: all 0.3s;